// Mixins in here

//Buttons: Create a parametric mixin that can create the missing buttons in the design file. Use the mixins.less file to create your mixin.
.button-template(@mahogany-red:@button-bg,) {
    border-radius: 20px;
    padding: 25px;
    font-size: 2rem;
    background-color: @mahogany-red;
    color: #FDC543;
}
