// Mixins in here

.button-template(@mahogany-red:@button-bg,) {
    border-radius: 20px;
    padding: 25px;
    font-size: 2rem;
    background-color: @mahogany-red;
    color: #FDC543;
    
    &:hover {
        box-shadow: 0 25px 36px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}
